# Auto detect text files and perform LF normalization
* text=auto
*.psd filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/*.dll filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/* filter=lfs diff=lfs merge=lfs -text
